In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn.metrics.pairwise import haversine_distances

In [4]:
df = pd.read_csv("postcode_coordinate.csv")
df

,id,postcode,woonplaats,alternatieve_schrijfwijzen,gemeente,provincie,netnummer,latitude,longitude,soort
0,1,1000,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.336243,4.869444,Postbus
1,2,1001,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.364240,4.883358,Postbus
2,3,1002,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.364240,4.883358,Onbekend
3,4,1003,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.364240,4.883358,Onbekend
4,5,1005,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.364240,4.883358,Postbus
...,...,...,...,...,...,...,...,...,...,...
4694,4695,9995,Kantens,NaN,Eemsmond,Groningen,595,53.365440,6.633795,Adres
4695,4696,9996,Eppenhuizen,NaN,Eemsmond,Groningen,595,53.381294,6.696894,Adres
4696,4697,9997,Zandeweer,NaN,Eemsmond,Groningen,595,53.387513,6.681121,Adres
4697,4698,9998,Rottum,NaN,Eemsmond,Groningen,595,53.382942,6.620084,Adres
4698,4699,9999,Stitswerd,NaN,Eemsmond,Groningen,595,53.360877,6.599293,Adres

In [5]:
df['lat'] = np.radians(df.latitude)

In [6]:
df['lon'] = np.radians(df.longitude)

In [7]:
df

,id,postcode,woonplaats,alternatieve_schrijfwijzen,gemeente,provincie,netnummer,latitude,longitude,soort,lat,lon
0,1,1000,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.336243,4.869444,Postbus,0.913440,0.084988
1,2,1001,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.364240,4.883358,Postbus,0.913928,0.085231
2,3,1002,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.364240,4.883358,Onbekend,0.913928,0.085231
3,4,1003,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.364240,4.883358,Onbekend,0.913928,0.085231
4,5,1005,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.364240,4.883358,Postbus,0.913928,0.085231
...,...,...,...,...,...,...,...,...,...,...,...,...
4694,4695,9995,Kantens,NaN,Eemsmond,Groningen,595,53.365440,6.633795,Adres,0.931403,0.115782
4695,4696,9996,Eppenhuizen,NaN,Eemsmond,Groningen,595,53.381294,6.696894,Adres,0.931679,0.116883
4696,4697,9997,Zandeweer,NaN,Eemsmond,Groningen,595,53.387513,6.681121,Adres,0.931788,0.116608
4697,4698,9998,Rottum,NaN,Eemsmond,Groningen,595,53.382942,6.620084,Adres,0.931708,0.115542
4698,4699,9999,Stitswerd,NaN,Eemsmond,Groningen,595,53.360877,6.599293,Adres,0.931323,0.115179

In [8]:
coords = df[['lat', 'lon']]

In [9]:
coords

           lat       lon
0     0.913440  0.084988
1     0.913928  0.085231
2     0.913928  0.085231
3     0.913928  0.085231
4     0.913928  0.085231
...        ...       ...
4694  0.931403  0.115782
4695  0.931679  0.116883
4696  0.931788  0.116608
4697  0.931708  0.115542
4698  0.931323  0.115179

[4699 rows x 2 columns]

In [10]:
distance_matrix = haversine_distances(coords, coords)

In [11]:
distance_matrix_df = pd.DataFrame(
    distance_matrix,
    index=pd.MultiIndex.from_frame(coords),
    columns=pd.MultiIndex.from_frame(coords)
)

distance_matrix_df

lat                0.913440  0.913928                                          \
lon                0.084988  0.085231  0.085231  0.085231  0.085231  0.085231
lat      lon
0.913440 0.084988  0.000000  0.000511  0.000511  0.000511  0.000511  0.000511
0.913928 0.085231  0.000511  0.000000  0.000000  0.000000  0.000000  0.000000
         0.085231  0.000511  0.000000  0.000000  0.000000  0.000000  0.000000
         0.085231  0.000511  0.000000  0.000000  0.000000  0.000000  0.000000
         0.085231  0.000511  0.000000  0.000000  0.000000  0.000000  0.000000
...                     ...       ...       ...       ...       ...       ...
0.931403 0.115782  0.025854  0.025406  0.025406  0.025406  0.025406  0.025406
0.931679 0.116883  0.026523  0.026077  0.026077  0.026077  0.026077  0.026077
0.931788 0.116608  0.026476  0.026029  0.026029  0.026029  0.026029  0.026029
0.931708 0.115542  0.025961  0.025510  0.025510  0.025510  0.025510  0.025510
0.931323 0.115179  0.025538  0.025088  0.025088  0.025088  0.025088  0.025088

lat                                              0.914081  ...  0.930880  \
lon                0.085231  0.085231  0.085231  0.085590  ...  0.116400
lat      lon                                               ...
0.913440 0.084988  0.000511  0.000511  0.000511  0.000739  ...  0.025771
0.913928 0.085231  0.000000  0.000000  0.000000  0.000267  ...  0.025330
         0.085231  0.000000  0.000000  0.000000  0.000267  ...  0.025330
         0.085231  0.000000  0.000000  0.000000  0.000267  ...  0.025330
         0.085231  0.000000  0.000000  0.000000  0.000267  ...  0.025330
...                     ...       ...       ...       ...  ...       ...
0.931403 0.115782  0.025406  0.025406  0.025406  0.025142  ...  0.000640
0.931679 0.116883  0.026077  0.026077  0.026077  0.025813  ...  0.000850
0.931788 0.116608  0.026029  0.026029  0.026029  0.025765  ...  0.000917
0.931708 0.115542  0.025510  0.025510  0.025510  0.025247  ...  0.000974
0.931323 0.115179  0.025088  0.025088  0.025088  0.024825  ...  0.000853

lat                0.931082  0.931049  0.930854  0.931201  0.931403  0.931679  \
lon                0.115918  0.116477  0.115969  0.115819  0.115782  0.116883
lat      lon
0.913440 0.084988  0.025695  0.025919  0.025563  0.025732  0.025854  0.026523
0.913928 0.085231  0.025250  0.025476  0.025120  0.025286  0.025406  0.026077
         0.085231  0.025250  0.025476  0.025120  0.025286  0.025406  0.026077
         0.085231  0.025250  0.025476  0.025120  0.025286  0.025406  0.026077
         0.085231  0.025250  0.025476  0.025120  0.025286  0.025406  0.026077
...                     ...       ...       ...       ...       ...       ...
0.931403 0.115782  0.000331  0.000545  0.000560  0.000203  0.000000  0.000713
0.931679 0.116883  0.000829  0.000675  0.000990  0.000795  0.000713  0.000000
0.931788 0.116608  0.000817  0.000743  0.001009  0.000752  0.000625  0.000197
0.931708 0.115542  0.000665  0.000863  0.000892  0.000533  0.000337  0.000800
0.931323 0.115179  0.000502  0.000821  0.000665  0.000401  0.000368  0.001077

lat                0.931788  0.931708  0.931323
lon                0.116608  0.115542  0.115179
lat      lon
0.913440 0.084988  0.026476  0.025961  0.025538
0.913928 0.085231  0.026029  0.025510  0.025088
         0.085231  0.026029  0.025510  0.025088
         0.085231  0.026029  0.025510  0.025088
         0.085231  0.026029  0.025510  0.025088
...                     ...       ...       ...
0.931403 0.115782  0.000625  0.000337  0.000368
0.931679 0.116883  0.000197  0.000800  0.001077
0.931788 0.116608  0.000000  0.000640  0.000971
0.931708 0.115542  0.000640  0.000000  0.000442
0.931323 0.115179  0.000971  0.000442  0.000000

[4699 rows x 4699 columns]

In [12]:
mean_distance = distance_matrix_df.apply(lambda x: np.mean(x) * 6371).rename('mean_distance')

mean_distance

lat       lon
0.913440  0.084988     87.148982
0.913928  0.085231     87.450610
          0.085231     87.450610
          0.085231     87.450610
          0.085231     87.450610
                         ...
0.931403  0.115782    157.399418
0.931679  0.116883    160.798727
0.931788  0.116608    160.815282
0.931708  0.115542    158.485512
0.931323  0.115179    155.936463
Name: mean_distance, Length: 4699, dtype: float64

In [13]:
result = df.join(mean_distance, on=['lat', 'lon'])
result

,id,postcode,woonplaats,alternatieve_schrijfwijzen,gemeente,provincie,netnummer,latitude,longitude,soort,lat,lon,mean_distance
0,1,1000,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.336243,4.869444,Postbus,0.913440,0.084988,87.148982
1,2,1001,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.364240,4.883358,Postbus,0.913928,0.085231,87.450610
1,2,1001,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.364240,4.883358,Postbus,0.913928,0.085231,87.450610
1,2,1001,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.364240,4.883358,Postbus,0.913928,0.085231,87.450610
1,2,1001,Amsterdam,NaN,Amsterdam,Noord-Holland,20,52.364240,4.883358,Postbus,0.913928,0.085231,87.450610
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4694,4695,9995,Kantens,NaN,Eemsmond,Groningen,595,53.365440,6.633795,Adres,0.931403,0.115782,157.399418
4695,4696,9996,Eppenhuizen,NaN,Eemsmond,Groningen,595,53.381294,6.696894,Adres,0.931679,0.116883,160.798727
4696,4697,9997,Zandeweer,NaN,Eemsmond,Groningen,595,53.387513,6.681121,Adres,0.931788,0.116608,160.815282
4697,4698,9998,Rottum,NaN,Eemsmond,Groningen,595,53.382942,6.620084,Adres,0.931708,0.115542,158.485512
4698,4699,9999,Stitswerd,NaN,Eemsmond,Groningen,595,53.360877,6.599293,Adres,0.931323,0.115179,155.936463

In [ ]:
#neighbourhood_to_coordinate